<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="FluidNuGet" value="https://pkgs.dev.azure.com/FitzgeraldD5/Fluid/_packaging/FluidNuGet/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <FluidNuGet>
      <add key="Username" value="FluidNuget" />      
      <add key="ClearTextPassword" value="khobzlo5msjkq2ajsbjtscai5kmhu7lcnsz4cwcn3abn7nyxam6a" />
    </FluidNuGet>
  </packageSourceCredentials>
</configuration>